#global{
    border:  1PX;
    background-color: antiquewhite;
    height: 1000px;
}
#header{
    border: 1PX;
    background-color: aqua;
    height: 90X ;
    margin: 5px ;
    padding: 5px ;
    
}
#contenu{
    border: 1px;
    background-color: aquamarine; 
    height: 900px;
    margin: 5px;
    padding: 5px;
}